# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# SQLite
*.db
*.sqlite3

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store

# Node (frontend later)
node_modules/
dist/
build/